<!DOCTYPE html>
<html>
<head>
<title>
	CSS
</title>
 <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="header">
	<h2>
		CSS (Cascading Style Sheet)
	</h2>
  </div>
  <div class="section1">
  	<p>
        CSS or <span class="def">Cascading Style Sheets</span> is a style sheet language used for describing the look and formatting of a document written in a markup language. It is the recommended way to control the presentation layer in a web document. The main advantage of CSS over presentational HTML markup is that the styling can be kept entirely separate from the content. For example, it&rsquo;s possible to store all the presentational styles for a whole lot of pages of a  web site in a single CSS file. CSS also provides far better control over presentation than do presentational element types in HTML.
    </p> 
    <p>   
        By externalizing the presentation layer, CSS offers a number of significant benefits. All styling is kept in a limited number of style sheets. The positive impact this has on site maintenance is that one style sheet is obviously more efficient than editing 10,000 HTML files The separation of content from presentation makes it easier for site owners to reuse the content for other purposes.
    </p> 
    <p>
    	Separate styling rules can be used for different output media. We no longer need to create a special version of each page for printing.We can simply create a single style sheet that controls how every page on the site will be printed. Although CSS is designed to be independent of the markup language of the documents to which it is applied, in reality, it&rsquo;s used mainly with HTML
    </P>
    <p>	
    	CSS is one of the most powerful tools a Web designer can learn because with it you can affect the entire mood and tone of a Web site. The challenge is that there is so much to learn with CSS. But because CSS can cascade, and combine and browsers interpret the directives differently, CSS is more difficult than plain HTML. But once you start using it, you'll see that harnessing the power of CSS will give you more options and allow you to do more and more things with your Web sites.
    </P>
  </div>  
  <div class="section2">
     <span class="list">Here is what we&rsquo;ve learned using CSS :</span>
    	    <ul>
    	    	<li>
    	    		How to add css to a webpage (inline or using a separate sheet)
    	    	</li>
    	    	<li>
    	    		Css selectors and attributes 
    	    	</li>
    	    	<li>
    	    		Styling background
    	    	</li>
    	    	<li>
    	    		Elements width and Height 
    	    	</li>
    	    	<li>
    	    		Text styling and selecting link
    	    	</li>
    	    	<li>
    	    		Css page layout using the box model
    	    	</li>
    	    </ul>	
  </div>
  <div class="homepage">
  	    <a href="index.html">Return to home page</a>
  </div>
  <div class="footer">
		<a href="http://www.facebook.com" target="_blank" align="left"><img src="http://www.niftybuttons.com/webicons2/facebook.png"></a><a href="http://www.twitter.com" target="_blank" align="left"><img src="http://www.niftybuttons.com/webicons2/twitter.png"></a>
        &copy; Copyright 2014 Saley Maiga 
   </div> 
 </body>
</html>  	    	