<!DOCTYPE html>
<html>
<head>
<title>
	Git/github
</title>
 <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="header">
	<h2>
		Git / Github
	</h2>
  </div>
  <div class="section1">
    <p>
		GIT is a very popular and efficient open source Version Control System. It tracks content such as files and directories. It allows a team of people to work together, all using the same files. And it helps the team cope with the confusion that tends to happen when multiple people are editing the same files. Although Git is mostly used for code, Git could also be used to manage any other type of file, such as Word documents or Final Cut projects. Think of it as a filing system for every draft of a document. Git allows you to manage changes to a project without overwriting any part of that project
	</p>
	<p>	
		Github, on the other hand is an online hosting platform for sharing code and developing software. GitHub, is a web-based hosting service for software development projects that use the Git revision control system. It is Git repository hosting service, but it adds many of its own features. While Git is a command line tool, GitHub provides a Web-based graphical interface. It also provides access control and several collaboration features, such as a wikis and basic task management tools for every project.

	</p>	
    <p>
    	Github is becoming the go to place for Developers to share, learn, and showcase programming prowess. For developers, this connection to like-minded professionals is invaluable, allowing truly talented Software Developers gain recognition for their work while remaining social and interactive. For those seeking to hire the best Developers, Github has become a collection of online portfolios that can provide valuable insight into potential hires. Today github has become a platform to identify the truly gifted developers of the world..
    </p>
  </div>
  <div class="section2">
		 <img src="gitvsgithub.png" width="300px">
  </div>
  <div class="homepage">
  	<a href="index.html">Return to home page</a>
  </div>
  <div class="footer">
		<a href="http://www.facebook.com" target="_blank" align="left"><img src="http://www.niftybuttons.com/webicons2/facebook.png"></a><a href="http://www.twitter.com" target="_blank" align="left"><img src="http://www.niftybuttons.com/webicons2/twitter.png"></a>
        &copy; Copyright 2014 Saley Maiga 
  </div>  	    	


  


