<!DOCTYPE html>
<html>
<head>
<title>
	My website project
</title>
 <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="header">
	<h1>
		 My journey at NYCDA
	</h1>
  	<ul class="nav">
		<li>
			<a class="html" href ="html.html" target="_blank"> HTML </a>
		</li>
		<li>
			<a class="css" href="css.html" target="_blank"> CSS</a>
		</li>
		<li> 
			<a class="git" href="git_github.html" target="_blank"> Git / Github </a>	
		</li>
	</ul> 
  </div>
  <div class="section1">
    <p>
    	<img src="saley1.jpg" width="100px">
		Hello, my name is Saley.I wanted to share my experience at the <a href="http://nycda.com">New York Code and Design Academy</a>.This is my second week and my experience is been great so far. I've learned a lot of cool stuff that was all new to me. The sixteen week intensive program is  about learning how to build website using Html, css and Javascript, as well as some back end development like ruby on rails.
	</p>
	<p>
		On the first week of class, after a little review that help us have a better understanding on  how the internet work, we started learning some basic HTML, the goal at the end of the class was to be able to create an Html file and open it in a browser. HTML or <span class="def">HyperText Markup Language</span> is the main markup language  for creating web pages and other information that can be displayed in a web browser .The first step before we started writing some html code was to download a text editor called sublime text 2.At the end the first class, we were up and and running with our first Html page.
	</p>
	<p>
	    On week 2, we started learning how git works, as we will need it the share our project into Github and share our codes when using Ruby. We went through some of the command line using the Terminal then tried to create a git repository, add files to it, and make a commit to push it on Github. After some practice with Git and Github to get more comfortable with how they work, we went back to learning how to make our webpage look a better, using CSS.
	</p>    
    <p>
    	CSS or <span class="def"> Cascading Style Sheets</span> is a style sheet language used for describing the look and formatting  of a document written in a markup language. CSS is designed primarily to enable the separation of document content from document presentation, including elements such as the layout  colors  and fonts. This separation can improve content accessibility, provide more flexibility and control in the specification of presentation characteristics, enable multiple pages to share formatting, and reduce complexity and repetition in the structural content.
    </p>
  </div>
  <div class="section2">
		 <span class="list">Here is what we&rsquo;ve learned using HTML </span>
		    <ul>
		       <li>
		       	How to use tags (opening and closing )
		       </li> 
		       <li>
		       	List of different tags available to use 
		       </li> 
		       <li>
		       	How to use HTML attributes
		       </li> 
		       <li>
		       	links and anchors
		       </li> 
		       <li>
		       	Why and how to use the Doctype declaration 
		       </li>
		    </ul>
  </div>
  <div class="section3">
    	 <span class="list">Here is what we&rsquo;ve learned using CSS : </span>
    	    <ul>
    	    	<li>
    	    		How to add css to a webpage (inline or using a separate sheet)
    	    	</li>
    	    	<li>
    	    		Css selectors and attributes 
    	    	</li>
    	    	<li>
    	    		Styling background
    	    	</li>
    	    	<li>
    	    		Elements width and Height 
    	    	</li>
    	    	<li>
    	    		Text styling and selecting link
    	    	</li>
    	    	<li>
    	    		Css page layout using the box model
    	    	</li>
    	    </ul>	
    </div>
	<div class="footer">
		<a href="http://www.facebook.com" target="_blank" align="left"><img src="http://www.niftybuttons.com/webicons2/facebook.png"></a><a href="http://www.twitter.com" target="_blank" align="left"><img src="http://www.niftybuttons.com/webicons2/twitter.png"></a>
        &copy; Copyright 2014 Saley Maiga 
    </div>  	    
 </body>  
</html>